/* "@media all" was used as code organizer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
  --colors-1-lighter: #D3C0D7;
  --colors-1-light: #C498CD;
  --colors-1-base: #AD00CF;
  --colors-1-dark: #690081;
  --colors-1-darker: #020003;

  --colors-2-base: #51B59F;
  --colors-2-dark: #020C09;

  --colors-3-base: #FFD445;
  --colors-3-dark: #080800;

  --colors-4-base: #FF5757;
  --colors-4-dark: #0D0000;

  --colors-5-base: #F288CA;
  --colors-5-dark: #0D040B;

  --colors-6-base: #52B0FF;
  --colors-6-dark: #00090D;
  
  --colors-semantic-error-base: #EB2525;

  --transition-time: .3s;
  
  --header-height: 10vh;

  --box-shadow: #26262680 1.95px 1.95px 2.6px;

  --text-field-color: var(--colors-text-primary);
  --text-field-font-size-medium: 1rem;
  --text-field-font-size-smaller: 0.6rem;

  --switch-width: 3rem;
  --switch-height: 1.5rem;
  --slider-size: calc(var(--switch-height) * 0.65);
  --slider-spacing: calc(var(--switch-height) * 0.2);
  --slider-position-on: calc(var(--switch-width) - var(--slider-size) - (var(--slider-spacing) * 2.15));
  --slider-color-light: #FFCE39;
  --slider-color-light-background: #3392d2;
  --slider-color-dark: #FFFFFF;
  --slider-color-dark-background: #1A1A1A;
}

body {
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  background-color: var(--colors-background-1);
  color: var(--colors-text-primary);
  overflow: hidden;
}

@media all /* h1, h2, h3, ... */ {
  h1 {
    font-size: 0;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }

  a {
    width: fit-content;
  }
}

@media all /* Text Field */ {
  .text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: text;
  }
  
  .text-field fieldset {
    width: 100%;
    padding: 0 10px 5px 0;
    border: 1px solid var(--text-field-color);
    border-radius: 5px;
    position: relative;
    transition: border-color var(--transition-time), color var(--transition-time);
  }
  
  .text-field fieldset:has(input:focus) {
    border-width: 2px;
    border-color: var(--colors-1-base);
  }
  
  .text-field fieldset label, .text-field fieldset span {
    padding: 0 5px;
    pointer-events: none;
  }
  
  .text-field fieldset legend {
    max-width: 0.01px;
    margin-left: 7px;
    font-size: var(--text-field-font-size-smaller);
    text-wrap: nowrap;
    opacity: 0;
    transition: max-width var(--transition-time);
  }
  
  .text-field fieldset input {
    width: 97%;
    border: none;
    font-size: var(--text-field-font-size-medium);
    color: var(--colors-text-primary);
    outline: none;
    padding-left: 10px;
    background-color: transparent;
  }
  
  .text-field fieldset input::placeholder {
    color: transparent;
  }
  
  .text-field fieldset input:focus + legend,
  .text-field fieldset input:not(:placeholder-shown) + legend {
    max-width: 100%;
  }
  
  .text-field fieldset .placeholder {
    margin-left: 7px;
    font-size: var(--text-field-font-size-medium);
    font-weight: 500;
    color: var(--text-field-color);
    position: absolute;
    top: -5%;
    left: 0;
    transition: font-size var(--transition-time), top var(--transition-time);
  }
  
  .text-field fieldset input:focus ~ .placeholder {
    color: var(--colors-1-base);
  }
  
  .text-field fieldset input:focus ~ .placeholder,
  .text-field fieldset input:not(:placeholder-shown) ~ .placeholder {
    font-size: var(--text-field-font-size-smaller);
    top: -50%;
  }
  
  .text-field fieldset:has(input.invalid) {
    border-width: 2px;
    border-color: var(--colors-semantic-error-base);
  }
  
  .text-field fieldset input.invalid ~ .placeholder {
    color: var(--colors-semantic-error-base);
  }
}

@media all /* Button */ {
  button.default {
    width: max-content;
    background-color: var(--colors-1-base);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--colors-text-on-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: background-color var(--transition-time);
  }
  
  button.default:hover {
    background-color: var(--colors-1-dark);
  }
}

@media all /* Switch */ {
  .switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    background-color: var(--slider-color-light-background);
    box-shadow: var(--box-shadow);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .switch .slider:before {
    position: absolute;
    content: '\F1D1';
    height: var(--slider-size);
    width: var(--slider-size);
    left: var(--slider-spacing);
    bottom: var(--slider-spacing);
    font-size: var(--slider-size);
    font-family: 'bootstrap-icons';
    color: var(--slider-color-light);
    transition: transform var(--transition-time);
  }
  
  .switch .slider.round {
    border-radius: var(--switch-height);
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }

  .switch input:checked + .slider {
    background-color: var(--slider-color-dark-background);
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(var(--slider-position-on));
    -ms-transform: translateX(var(--slider-position-on));
    transform: translateX(var(--slider-position-on));
    content: '\F494';
    color: var(--slider-color-dark);
  }
}

@media all /* Logo */ {
  img.logo {
    width: 10rem;
    background-color: #FFFFFF;
    border-radius: 100%;
  }
  
  img#logo {
    width: 3rem;
    cursor: pointer;
  }
}

@media all /* Header */ {
  header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    width: 100%;
    height: 100%;
    background-color: var(--colors-1-base);
    padding: 0 3%;
    color: var(--colors-text-on-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div#nav-menu {
    display: flex;
    gap: 2rem;
  }
  
  div#nav-menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  div#nav-menu ul li {
    cursor: pointer;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-color var(--transition-time);
  }
  
  div#nav-menu ul li:hover {
    border-color: var(--colors-text-on-color);
  }
}

@media all /* Main */ {
  main {
    width: 100%;
    height: 100%;
    overflow: overlay;
  }
  
  main::-webkit-scrollbar {
    width: 1rem;
  }
  
  main::-webkit-scrollbar-thumb {
    border: 0.25rem solid transparent;
    border-radius: 999px;
    background-clip: padding-box;
    background-color: var(--colors-1-base);
  }
}

@media all /* Section */ {
  section {
    width: 100%;
    padding: 4rem 10rem;
  }
  
  section:nth-child(1) {
    background-color: var(--colors-background-2);
  }
  
  section:nth-child(2) {
    background-color: var(--colors-background-3);
  }
  
  section:nth-child(3) {
    background-color: var(--colors-background-4);
  }
  
  section:nth-child(4) {
    background-color: var(--colors-background-5);
  }
  
  section:nth-child(5) {
    background-color: var(--colors-background-6);
  }
  
  section:nth-child(6) {
    background-color: var(--colors-background-2);
  }
  
  section:nth-child(7) {
    background-color: var(--colors-background-1);
  }
}

@media all /* Home */ {
  section#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div#banner-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2rem;
    font-weight: 700;
    color: var(--colors-text-primary);
  }
  
  div#banner-right {
    width: 25rem;
  }
}

@media all /* Sobre */ {
  section#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div#about-left {
    width: 25rem;
  }
  
  div#about-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 700;
    color: var(--colors-text-primary);
  }
}

@media all /* Problemas */ {
  section#problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  div#problems-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  div#problems-cards div.card {
    width: 100%;
    padding: 1rem;
    background-color: var(--colors-background-1);
    border: 1px solid;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    transition: color var(--transition-time);
  }
  
  div#problems-cards div.card:hover,
  div#problems-cards div.card:hover span.icon-dropdown {
    color: var(--colors-1-base) !important;
    border-color: var(--colors-1-base) !important;
  }

  div#problems-cards div.card:hover span.icon-dropdown::before,
  div#problems-cards div.card:hover span.icon-dropdown::after {
    background-color: var(--colors-1-base) !important;
  }
  
  div#problems-cards div.card div.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  div#problems-cards div.card div.card-header span.icon-dropdown {
    width: 2rem;
    height: 2rem;
    border: 0.15rem solid;
    border-radius: 100%;
    transition: color var(--transition-time);
  }
  
  div#problems-cards div.card div.card-header span.icon-dropdown::before,
  div#problems-cards div.card div.card-header span.icon-dropdown::after {
    width: 80%;
    height: 0.1rem;
    background-color: var(--colors-text-primary);
    content: '';
    display: block;
    position: relative;
    top: 50%;
    left: 10%;
    transition: background-color var(--transition-time);
  }

  div#problems-cards div.card div.card-header span.icon-dropdown::after {
    top: 46%;
  }

  div#problems-cards div.card div.card-header span.icon-dropdown::before {
    transform: rotate(90deg);
    transition: background-color var(--transition-time), transform var(--transition-time);
  }
  
  div#problems-cards div.card.active div.card-header span.icon-dropdown::before {
    transform: rotate(0deg) !important;
  }

  div#problems-cards div.card div.problem-description {
    width: 100%;
    padding: 0 10rem 0 1rem;
    text-align: justify;
    color: var(--colors-text-primary);
    animation: dropdownCardReverse .5s both;
  }

  div#problems-cards div.card div.problem-description p {
    opacity: 0;
    text-indent: 2rem;
    transition: opacity calc(var(--transition-time) * 1.5);
  }

  div#problems-cards div.card.active div.problem-description {
    animation: dropdownCard .5s both;
  }

  div#problems-cards div.card.active div.problem-description p {
    opacity: 1;
  }
  
  @keyframes dropdownCard {
    from {
      height: 0;
      padding-top: 0;
    }
    to {
      height: 10rem;
      padding-top: 1rem;
    }
  }
  
  @keyframes dropdownCardReverse {
    from {
      height: 10rem;
      padding-top: 1rem;
    }
    to {
      height: 0;
      padding-top: 0;
    }
  }
}

@media all /* Dados */ {
  section#data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  div#data-fonts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  div#data-mentions {
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
    justify-content: space-around;
  }
  
  div#data-mentions p.mention {
    width: 20rem;
    background-color: var(--colors-background-1);
    padding: 2rem 2rem;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: transform var(--transition-time), background-color var(--transition-time);
  }
  
  div#data-mentions p.mention:hover {
    transform: scale(1.08);
  }
  
  div#read-more {
    display: flex;
    justify-content: center;
  }
}

@media all /* Funcionalidades */ {
  section#functionalities {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  div#func-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: 20px auto;
    max-width: 800px;
  }
  
  div#func-cards div.card:nth-child(2),
  div#func-cards div.card:nth-child(3)  {
    background-color: var(--colors-background-1);
  }
  
  div#func-cards div.card {
    width: calc(50% - 15px);
    background-color: var(--colors-background-3);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: transform var(--transition-time), background-color var(--transition-time);
  }

  div#func-cards div.card:hover {
    transform: scale(1.08);
  }
  
  div#func-cards div.card p {
    line-height: 1.4;
  }
}

@media all /* Área Kids */ {
  section#area-kids {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div#area-kids-left {
    width: 25rem;
  }
  
  div#area-kids-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  ul#benefits {
    width: 80%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  ul#benefits li {
    padding-left: 0.5rem;
  }
  
  ul#benefits li::marker {
    content: '\F26A';
    font-family: 'bootstrap-icons';
    color: var(--colors-1-base);
  }
}

@media all /* Avise-me */ {
  section#send-me {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  section#send-me h2 {
    font-size: 2rem;
  }
  
  div#send-me-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2rem;
    font-weight: 700;
    color: var(--colors-text-primary);
  }
  
  div#send-me-right {
    width: 25rem;
  }
  
  form#send-me-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
  }
}